<head>
<title>Wantest</title>
</head>

<body>
  <header>
    <div class="header">
      <h2><i class="fa-solid fa-money-check-dollar fa-lg"></i></i> Wantest</h2>
      <a class="headerli1"><%= link_to '新規登録', new_user_registration_path %></a>
      <a class="headerli2"><%= link_to 'ログイン', new_user_session_path %></a>
    </div> 
  </header>
  <main>
    <h1>欲しいものがありすぎるあなたに向けて</h1>
    <h3>欲しいものを登録して支出予測を立ててみよう</h3>
    <p><%= link_to 'Wantestを使ってみる', new_user_registration_path %></p>
    <%= image_tag '/20220704.jpg' %>
    <p>新規登録をして自分の欲しいもののレベリングをしてください</p>
  </main>
</body>