<head>
<title>Wantest</title>
</head>

<body>
  <header>
    <div class="header">
      <h2><i class="fa-solid fa-money-check-dollar fa-lg"></i></i> Wantest</h2>
      <a class="headerli1">新規登録</a>
      <a class="headerli2">ログイン</a>
    </div> 
  </header>
  <main>
    <h1>欲しいもの覚えている？？</h1>
    <h3>欲しいものを登録して支出予測を立ててみよう</h3>
    <p>Wantestを使ってみる</p>
    <%= image_tag "2022-07-04.png" %>
    
  </main>
</body>