<head>
<title>Wantest</title>
</head>

<body>
  <nav class="nav">
    <div class="header">
      <h2 class="headerli0"><i class="fa-solid fa-money-check-dollar fa-lg"></i></i> Wantest</h2>
      <p class="headerli1"><span><%= link_to 'Wantestを使ってみる', new_user_registration_path, class:"innerheaderli1" %></span></p>
      <a href="/users/sign_in" class="innerheaderli2"><i class="fa-solid fa-right-to-bracket"></i>ログイン</a>
      <%# <p class="headerli2"><span><i class="fa-solid fa-right-to-bracket"></i><%= link_to 'ログイン', new_user_session_path, class:"innerheaderli2" %>
    </div> 
  </nav>
  <main class="topmain">
    <h1>欲しいものがありすぎるあなたに向けて</h1>
    <h3>欲しいものを登録して支出予測を立ててみよう</h3>
    <p><span><%= link_to 'Wantestを使ってみる', new_user_registration_path, class:"innerheaderli1" %></span></p>
    <%= image_tag '/22846951.jpg' %>
    <p>新規登録をして自分の欲しいもののレベリングをしてください</p>
  </main>
</body>