// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.review-stars {
  display: flex;
  color: orange;
  width: 100px;
  height: 50px;
}

.card-text {
  color: aqua;
}

.star-eva {
  color: orange;
}