// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.explanation {
  margin: 0.2em 0px;
}

.review-stars {
  display: flex;
  color: orange;
  width: 10px;
  height: 50px;
  font-size: x-large;
}

.card-text {
  color: aqua;
}

.star-eva {
  color: orange;
}

.predict_price {
  color: red;
  font-size: 20px;
  display: flex;
}

.row {
  display: flex;
}

.card-body {
  width: 170px;
  height: 180px;
  padding: 0.5em 1em;
  margin: 1em 1em;
  background: #f4f4f4;
  border-left: solid 6px #5bb7ae;
  box-shadow: 0px 2px 3px #AAAAAA;
}

.sum-price {
  width: 200px;
  font-size: larger;
  font-weight: bold;
  background-color: lightpink;
  margin-top: 20px;
}

.card-title, .card-subtitle, .star-eva {
  line-height: 0.5em;
}

.modal {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.8);
  background-blend-mode: lighten;
  width: 80vw;
  height: 70vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 10px;
  z-index: 2;
  display: none;
}

.modalsearch-contents {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(192, 192, 192, 0.9);
  z-index: 1;
  display: none;
}

.textbox {
  display: block;
  float: left;
  width: 60px;
}

#submit {
  margin-top: 10px;
}

.sum-price {
  margin-bottom: 10px;
}

.topper {
  display: flex;
  width: 1185px;
  height: 60px;
  border-bottom: solid 2px #DDDDDD
}

#btn {
  height: 40px;
  margin-right: 970px;
  margin-top: 13px;
  background: #99FFFF;
  border-radius: 10px;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0px 10px;
  color: #313131;
}

#btn:hover {
  background: #33FFFF;
  color: black;
}

.signoutbox {
  background-color: white;
  border: solid 1px #000000;
  border-radius: 10px;
  padding: 5px;
  color: black;
}

.signoutbox:hover {
  background: #F0F8FF	;
  color: black;
}

.signoutbox1 {
  text-decoration: none;
}

.nav {
  border-bottom: solid 2px #DDDDDD
}

.header {
  display: flex;
}

.headerli1, .headerli2 {
  margin-top: 20px;
}

.headerli1 {
  margin-left: 800px;
  margin-right: 20px;
}

.innerheaderli1 {
  background: #FF8C00;
  padding: 10px;
  border-radius: 10px;
  color: white;
  text-decoration: none;
}

.innerheaderli1:hover {
  background: #FFA500;
  color: white;
}

.headerli2 {
  margin-left: 10px;
}

.innerheaderli2 {
  margin-top: 13px;
  display: block;
  width: 100px;
  height: 38px;
  line-height: 38px;
  color: #000000;
  text-align: center;
  text-decoration: none;
  background-color: white;
  border-radius: 10px;
}

.innerheaderli2:hover {
  background: #F0F8FF	;
  color: black;
}

.topmain {
  text-align: center;
}