<% if product.evaluation == 4 %>
  <div class="card-body">
    <h3 class="card-title"><%= product.name %></h3>
    <h3 class="card-subtitle"><%= number_to_currency(product.price, unit: "¥", precision: 0) %></h3>
    <h4 class = "star-eva">★★★★☆</h4>
    <p><i class="fa-solid fa-pen-to-square"></i><%= link_to '編集', edit_product_path(id: product.id, sugie: "sugie"), method: :get, local: true %></p>
    <p><i class="fa-solid fa-trash"></i><%= link_to '削除', product_path(product.id), method: :delete, local: true %></p>
  </div>
<% end %>